<div class="w-full max-w-lg mx-auto">

    <h1 class="mb-4 font-bold uppercase text-5xl">{{product}}</h1>


        <h2 class="mb-4 font-bold text-blue-700 hover:text-blue-900"><a href="#">{{productName}}</a></h2>
        <h2 class="mb-4 font-bold">Price: {{price}}</h2>
        <h2 class="mb-4 font-bold">Quantity: {{quantity}}</h2>
        <h2 class="mb-4 font-bold">servingSize: {{servingSize}}</h2>
       
        <button  value="{{product.id}}"= class="btn btn-primary btn-lg add-to-cart">Add to Saved Products</button>
   


</div>
</div>
